.detailsBgContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.card_container {
  align-self: center;
  width: 60%;
  display: flex;
  margin-top: 50px;
  box-shadow: 10px 10px 10px #e8e8e8;
}
.image {
  width: 450px;
  height: 450px;
  margin-right: 5%;
}
.heading {
  color: #1e293b;
}
.para {
  font-size: 22px;
  width: 95%;
  color: #64748b;
  font-weight: 600;
}
